/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

/* header  */
header {
    height: 100px;
    margin: 20px 0;
}

.logo {
    background-image: url("../img/logo.png");
    width: 135px;
    height: 50px;
    border-right: 1px solid lightgray;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
}

li {
    display: inline-block;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #A3A3A3;
}

/* prima sezione  */
.first-container {
    height: 300px;
    background-color: #E1D67A;
}

/* seconda sezione  */
.second-container {
    height: 400px;
    background-color: #0086FF;
    margin: 20px 0 5px 0;
}

/* colore riga e colonne seconda section del main  */
.row-col-color {
    background-color: #ABCFE7;
}

/* riga  */
.top-row.col-color{
    height: 60px;
    margin-bottom: 20px;
}

/* colonne  */
.col-color {
    background-color: #ABCFE7;
}

.col-left, .col-center, .col-right {
    float: left;
    height: 300px;
}

.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: calc(60% - 20px);
    margin: 0 10px;
}

/* footer  */
footer {
    height: 50px;
    background-color: #8800FE;
    margin-bottom: 20px;
}